# Environment files
.env

# Data directories
data/
datasets/
downloaded/

# TensorBoard logs
tensorboard/
!tensorboard/*.txt  # Keep robots.txt or similar files

# Checkpoints
checkpoints/*.pth

# Temporary files and caches
__pycache__/
*.pyc
*.log
.ipynb_checkpoints/

# IDE-specific files
.vscode/
.idea/

# Logs
dataset_setup.log

# Office files
# *.xlsx

# Mohammed Al-Desouky Great Innovations
desouky/
test_notebook.ipynb
*.7z
